$primary-color: #0ea5e9;
$light: #f9fafb;
$dark: #1f2937;



// 亮色主题
:root {
  // 共有属性
  --t-primary-color: #{$primary-color};

  @for $i from 1 through 9 {
    --t-primary-color-#{$i}: #{rgba($primary-color, $i * 0.1)};
  }

  --t-max-width: 1200px;
  --t-header-height: 64px;
  --t-footer-height: 64px;
  --t-card-min-width: 250px;
  --t-selected-color: var(--t-primary-color);
  --t-selected-bg-color: var(--t-primary-color-1);
  --t-hover-bg-color: #{rgba($primary-color, 0.05)};

  --t-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --t-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  --t-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
  --t-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --t-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);

  // 亮色主题特有属性
  --t-bg-color: #f3f4f6;
  --t-elv-bg-color: #ffffff;

  --t-header-bg-color: #ffffff;
  --t-header-text-color: #{$dark};

  --t-footer-bg-color: #{$dark};
  --t-footer-text-color: #{$light};

  --t-card-bg-color: #ffffff;
  --t-card-footer-bg-color: #{rgba($dark, 0.05)};

  --t-text-color: #{$dark};

  @for $i from 1 through 9 {
    --t-text-color-#{$i}: #{rgba($dark, $i * 0.1)};
  }

  --t-border-color: #e2e2e3;
  --t-divider-color: #e2e2e3;
}

// 暗色主题
.dark-mode {
  --t-bg-color: #111827;
  --t-elv-bg-color: #202127;

  --t-header-bg-color: #1f2937;
  --t-header-text-color: #{$light};

  --t-footer-bg-color: #{$dark};
  --t-footer-text-color: #{$light};

  --t-card-bg-color: #{$dark};
  --t-card-footer-bg-color: #{rgba($light, 0.05)};

  --t-text-color: #{$light};

  @for $i from 1 through 9 {
    --t-text-color-#{$i}: #{rgba($light, $i * 0.1)};
  }

  --t-border-color: #3c3f44;
  --t-divider-color: #2e2e32;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  inset: 0;
  background: var(--t-bg-color);
  color: var(--t-text-color);
  transition: background-color 0.3s;
}